::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #111827;
}
::-webkit-scrollbar-track {
  background: #111827;
  border: 1px solid #1f2937;
  border: 1px solid #1f2937;
}
::-webkit-scrollbar-thumb {
  background: #334155;
}

/* Default styles for all browsers */
.custom-content-containers {
  padding-bottom: 96px; /* Default padding */
}

.custom-height {
  height: calc(100vh - 152px);
}